.head-img
  .search-box
    = form_tag 'shops/search',method: :get do
      = text_field_tag :keyword, nil, placeholder: 'free word', class: 'search-text-field' # 初期値がnil、nameがkeyword、classがsearch-text-field
      = image_submit_tag 'search-50.png'
      %br
      = select_tag :language, options_for_select([['English', 'en'], ['日本語', 'ja']]), class: 'search-lang-select'
.popular-shops
  %h2
    人気のお店ランキング

  .popular-shop-block
    .clearfix
      .shop-image
        = image_tag 'washoku.jpg'
      .shop-detail
        .shop-title
          ◯◯店
        .shop-description
          美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい

  .popular-shop-block
    .clearfix
      .shop-image
        = image_tag 'washoku.jpg'
      .shop-detail
        .shop-title
          ◯◯店
        .shop-description
          美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい

  .popular-shop-block
    .clearfix
      .shop-image
        = image_tag 'washoku.jpg'
      .shop-detail
        .shop-title
          ◯◯店
        .shop-description
          美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい美味しい