

<div id="contents">
 <h1 class="showpage-shop-title"><%= @shop.name %></h1>
  <div>
    <img src="<%= @shop.image %>" class="photo">
  </div>

  <label for="check">Go!</label>
  <input id="check" type="checkbox">
  <div class="test">
    <p>I am some hidden text</p>
  </div>
  <label for="check">Guide!</label>
  <input id="check" type="checkbox">
  <div class="test">
    <p>I am some hidden text</p>
  </div>

  <h3 class="shop"><%= @shop.text %></h3>
  <hr />
  <h2 class="shop">レビュー</h2>
 <div id="review" >
  <li>
   <div class="detail">
    <h3>美味しいお店</h3>
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <li>
   <h3>美味しいお店</h3>
   <div class="detail">
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <li>
   <h3>美味しいお店</h3>
   <div class="detail">
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <h4>もっと見る>></h4>
  <hr />
 <div>
  <% if user_signed_in? %>
  <%= form_for [@shop, @review] do |f| %>
  <h2>レビューを書く</h2>
          <div style="margin: 8px 0">
            <%= f.label :評価, style: { 'margin-right' => 8 } %>
            <%= f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1, html: { class: "search__query", style: 'text-align: right;' } %>
          </div>
          <div style="margin: 8px 0">
            <%= f.text_area :reviews, placeholder: 'レビューを書いてね！', style: 'width: 500px;height: 100px;' %>
          </div>
          <div class="row">
            <div class="col10 push1">
              <%= button_tag type: "submit", class: "btn btn--block" do %>
              投稿する<i class="icon-arrow-right"></i>
              <% end %>
            </div>
          </div>
  <% end %>
  <% end %>
 </div>
</div>
